$toolbar-item-size: 50px;
$font-size: 40px;
.toolbar-dist, .toolbar-home, .toolbar-home:before, .toolbar-home:after, .toolbar-list a {
    width: $toolbar-item-size;
    height: $toolbar-item-size;
    border-radius: 50%;
}
.toolbar-dist, .toolbar-home, .toolbar-list {
    background-color: #ABAAAA;
}
.toolbar-home:before, .toolbar-home:after, .toolbar-list a {
    font-size: $font-size;
    color: #fff;
    text-align: center;
    line-height: $toolbar-item-size;
}

.toolbar {
    position: fixed;
    right: 50px;
    bottom: 50px;
}
.toolbar-dist {
    position: relative;
    @extend [class^="icon-"];
}
.toolbar-home {
    z-index: 10000;
    overflow: hidden;

    &, &:before, &:after {
        position: absolute;
        left: 0;
    }
    &:before, &:after {
        @include transition(top 1s);
    }

    &:before {
        content: "\e901";
        opacity: 1;
        top: 0;
    }
    &:after {
        content: "\e900";
        opacity: 0.6;
        top: $toolbar-item-size;
    }
}
.toolbar-dist-click {
    .toolbar-home:before {
        top: -$toolbar-item-size;
        opacity: 0.6;
    }
    .toolbar-home:after {
        top: 0;
        opacity: 1;
    }
    .toolbar-list {
        opacity: 1;
        @include scaleX(1);
    }
}
.toolbar-list {
    position: absolute;
    z-index: 9999;
    right: $toolbar-item-size / 2;
    width: $toolbar-item-size * 4;
    height: $toolbar-item-size;
    padding-left: 10px;
    border-top-left-radius: $toolbar-item-size / 2;
    border-bottom-left-radius: $toolbar-item-size / 2;
    opacity: 0;
    @include transform-origin(right);
    @include scaleX(0.01);
    @include transition(all 1s);
    a {
        display: inline-block;
        text-decoration: none;
    }
}
.toolbar-mask {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
